<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>359678373942-pfh0gsl87s8nd97n0vk365nd57fpgo9g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.359678373942-pfh0gsl87s8nd97n0vk365nd57fpgo9g</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>359678373942-h107q2tbtuokfrvdo97uvk7tfvas9uq2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDjXZ9S-lVkPHWoFd8UmLaMWSPKxsVx9G4</string>
	<key>GCM_SENDER_ID</key>
	<string>359678373942</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.belkisSeller</string>
	<key>PROJECT_ID</key>
	<string>belkis-marketplace</string>
	<key>STORAGE_BUCKET</key>
	<string>belkis-marketplace.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:359678373942:ios:0658c6e7b4fb96624a6897</string>
	<key>DATABASE_URL</key>
	<string>https://belkis-marketplace-default-rtdb.firebaseio.com</string>
</dict>
</plist>